/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.align-center {
  text-align: center;
}

.margin-1 {
  margin: 1rem;
}

.margin-2 {
  margin: 2rem;
}
.message {
  font-size: clamp(1rem, 2vw, 1.0rem);
}

.my-button {
  padding: var(--cds-global-space-9) 0 !important;
}

.my-button-container{
  gap: var(--cds-global-space-5) !important;

}
.radio.btn input[type="radio"]:checked + label {
  background-color: #007bff; /
  color: #fff; 
}

.radio.btn label {
  cursor: pointer;
  padding: var(--cds-global-space-8) var(--cds-global-space-12);
}

.radio.btn {
  margin-bottom: 0.4rem;
}

.radio.btn input[type="radio"] {
  display: none; /* Oculta o botão de rádio padrão */
}

